PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5-sip
pyqt5-tools
PyQt5Designer
qt5-applications
qt5-tools
PyQt6
PyQt6-Charts
PyQt6-Charts-Qt6
PyQt6-Qt6
PyQt6_sip
pyqt6-tools
qt6-applications
qt6-tools
requests
loguru
pyqt6-plugins